@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --color-primary: #6484f5;
  --color-primary-300: #4d63b0;
  --color-primary-200: #D8DFF8;
  --color-primary-100: #E2EAF5;
  --color-light: #ffffff;
  --color-dark: #1d2954;
  --color-canvas: #050f33;
}