@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* primary colors */
/* --color-primary: #846358;
--color-primary-400: #a18072;
--color-primary-300: #d2bab0;
--color-primary-200: #eaddd7;
--color-primary-100: #f8f1ee;
--color-primary-500: #846358;

--color-light: #fff8e8;
--color-dark: #6c584c; */

@theme {
  --color-primary: #6484f5;
  --color-primary-300: #4d63b0;
  --color-primary-200: #D8DFF8;
  --color-primary-100: #E2EAF5;
  --color-light: #fff8e8;
  --color-dark: #1d2954;
}